services:
  db:
    image: postgres:17
    container_name: obsidiantime-db
    restart: unless-stopped
    environment:
      POSTGRES_DB: obsidiantime
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - web-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 10s
      retries: 3

  minio:
    image: minio/minio:RELEASE.2025-04-22T22-12-26Z
    container_name: obsidiantime-minio
    restart: unless-stopped
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    volumes:
      - minio_data:/data
      - minio_config:/root/.minio
    expose:
      - 9000  # API порт
      - 9001  # Console порт
    networks:
      - web-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 10s
      timeout: 10s
      retries: 3

  web:
    build: .
    container_name: obsidiantime-web
    restart: unless-stopped
    command: >
      bash -c "
        python manage.py migrate &&
        python manage.py collectstatic --noinput &&
        gunicorn obsidiantime.config.wsgi:application --bind 0.0.0.0:8000 --workers 3
      "
    volumes:
      - .:/app
    networks:
      - web-network
    environment:
      - DEBUG=${DEBUG}
      - SECRET_KEY=${SECRET_KEY}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_HOST=db
      - DB_PORT=5432
      - ALLOWED_HOSTS=${ALLOWED_HOSTS}
      - USE_S3=true
      - AWS_ACCESS_KEY_ID=${MINIO_ROOT_USER}
      - AWS_SECRET_ACCESS_KEY=${MINIO_ROOT_PASSWORD}
      - AWS_STORAGE_BUCKET_NAME=${AWS_STORAGE_BUCKET_NAME}
      - AWS_S3_ENDPOINT_URL=http://minio:9000
      - AWS_S3_REGION_NAME=${AWS_S3_REGION_NAME}
    depends_on:
      db:
        condition: service_healthy
      minio:
        condition: service_healthy

  nginx:
    image: nginx:alpine
    container_name: obsidiantime-nginx
    restart: unless-stopped
    volumes:
      - ./nginx.prod.conf:/etc/nginx/conf.d/default.conf
    networks:
      - web-network
    depends_on:
      - web

networks:
  web-network:
    external: true

volumes:
  postgres_data:
  minio_data:
  minio_config:
